@import url('https://fonts.googleapis.com/css?family=Numans');

.container {
    height: 100%;
    align-content: center;
}

.navbar {
    background-color: rgba(0,0,0,0.15) !important;
}

.card {
    align-content: center;
    height: 580px;
    margin-top: 70px;
    margin-bottom: auto;
    width: 750px;
    float: left;
    background-color: rgba(0,0,0,0.5) !important;
}

.card2 {
    align-content: right;
    height: 190px;
    margin-top: 70px;
    margin-bottom: auto;
    width: 280px;
    float: right;
    background-color: rgba(0,0,0,0.5) !important;
}

.thead {
    background-color: #FFB433;
    font-size: 12px;
}


.reimbs{
    color: navy;
    background-color: whitesmoke;
    font-size: 12px;
}

.invoice_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFB433;
}

.user_icon span{
    font-size: 20px;
    margin-right: 10px;
    color: #FFB433;
}

.card-body2 {
    padding: 10px;
    height: 70px;
}

.card-header {
    color: white;
}

.invoice_icon{
    position: absolute;
    right: 20px;
    top: -35px;
}

h6 {
    color: white;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.form-group-logout {
    text-align: center;
}

.pg_btn{
    color: #00162b;
    background-color: #FFB433;
    height: 35px;
    width: 100px;
    padding: 3px;
    margin: -3px;
    text-align: center;
}

#nReq{
    width: 190px;
}

.pg_btn:hover{
    color: #00162b;
    background-color: white;
}

.approveBtn {
  background-color:white;
  border: 1px solid rgb(26, 146, 30);
  width: 75px;
  height: 30px;
  color: #00162b; 
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.denyBtn {
    background-color:white;
    border: 1px solid rgb(161, 20, 20);
    width: 75px;
    height: 30px;
    color: #00162b; 
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.approveBtn:hover{
  color: white;
  background-color: rgb(26, 146, 30);
}

.denyBtn:hover{
    color: white;
    background-color:  rgb(161, 20, 20);
}

.approveBtn:disabled, .denyBtn:disabled{
    color: #00162b;
    background-color: gainsboro;
}

.approveBtn:clicked{
    color: white;
    background-color: rgb(26, 146, 30);
}
  
.clickedDeny {
      color: white;
      background-color:  rgb(161, 20, 20);
} */

.ex{
    width: 100px;
    height: 50px;
}