<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <router-outlet></router-outlet>
  <!-- <app-login></app-login> -->
  <!-- Buttons to use until login is implemented -->
  <!-- <table class="table table-bordered">
      <tr class="thead">
        <th>User Id</th>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>isFinanceMan</th>
      </tr>
      <tr *ngFor="let user of userInfo">
        <td>{{ user.user_id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isFinanceMan }}</td>
      </tr>
    </table>

  <table class="table table-bordered">
      <tr class="thead">
        <th>Reimb Id</th>
        <th>Amount</th>
        <th>Submitted</th>
        <th>Resolved</th>
        <th>Description</th>
        <th>Explaination</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
      <tr *ngFor="let reimb of reimbInfo">
        <td>{{ reimb.reimb_id }}</td>
        <td>{{ reimb.amount }}</td>
        <td>{{ reimb.submitted | date:'short' }}</td>
        <td>{{ reimb.resolved | date:'short' }}</td>
        <td>{{ reimb.description }}</td>
        <td>{{ reimb.explaination }}</td>
        <td>{{ reimb.type_id }}</td>
        <td>{{ reimb.status_id | statusPipe}}</td>
      </tr>
    </table> -->
</div>

